@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #3432a8 !important;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    color: white !important;
}

h1 {
    color: black !important;
}

#logo {
    color: white;
    float: left;
    font-size: 1.7 em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Button */

.btn-primary{
    color: #3432a8;
    background-color: white;
    border-color: #3432a8;
    
}

